:root.theme-dark {
  --color-title: #db00ff;
  --color-paragraph: #f1b2ce;
  --accent-color: #ff0070;
  --accent-color-transparent: #FF007066;
  --background-color: #000028;
  --text-color: #f1b2ce;
  --text-accent-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
}

.theme-dark .page {
  --color-title: #db00ff;
  --color-paragraph: #f1b2ce;
  --accent-color: #ff0070;
  --accent-color-transparent: #FF007066;
  --background-color: #000028;
  --text-color: #f1b2ce;
  --text-accent-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
}