:root {
  --main-font-family: "IBM Plex mono", sans-serif;
  --main-font-size: 18px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --color-title: #db00ff;
  --color-paragraph: #f1b2ce;
  --accent-color: #ff0070;
  --accent-color-transparent: #ff007066;
  --background-color: #000028;
  --text-color: #f1b2ce;
  --text-accent-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
}
