/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font-family: 'IBM Plex mono', sans-serif;
  --main-font-size: 18px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --color-title: #DB00FF;
  --color-paragraph: #F1B2CE;
  --accent-color: #FF0070;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
}